NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx
ADMIN_BEARER_TOKEN=change-me
CRON_SECRET=change-me-cron-secret
TEST_BASE_URL=http://localhost:3000
TEST_EMAIL=test@example.com
TEST_PASSWORD=ChangeMe123!
TEST_USER_TOKEN=xxx
TEST_API_KEY=sk_live_xxx

CXZWEB_API_KEY=xxx
CXZWEB_BASE_URL=https://api.euzhi.com/v1
CXZWEB_ENABLED=false
CXZWEB_AUTO_RECHARGE_ENABLED=false
CXZWEB_RECHARGE_URL=https://api.euzhi.com/api/recharge
CXZWEB_RECHARGE_RESERVE_RATIO=0.02
NO1API_API_KEY=xxx
NO1API_BASE_URL=https://api.rcouyi.com/v1
NO1API_ENABLED=false
FREEMODEL_API_KEY=xxx
FREEMODEL_BASE_URL=https://api.freemodel.dev/v1
FREEMODEL_ENABLED=false
ALIYUN_BAILIEN_API_KEY=xxx
ALIYUN_ENABLED=true
DEFAULT_UPSTREAM=aliyun
ALIYUN_LOW_BALANCE_THRESHOLD_TOKENS=100000

PAYPAL_CLIENT_ID=xxx
PAYPAL_CLIENT_SECRET=xxx
PAYPAL_WEBHOOK_ID=xxx
STRIPE_SECRET_KEY=xxx
STRIPE_WEBHOOK_SECRET=xxx
COINBASE_API_KEY=xxx
COINBASE_WEBHOOK_SECRET=xxx
COINBASE_API_VERSION=2021-08-05
PAYPAL_WEBHOOK_IP_ALLOWLIST=
STRIPE_WEBHOOK_IP_ALLOWLIST=
COINBASE_WEBHOOK_IP_ALLOWLIST=
